.elementBox{
    padding: 126px;
    padding-top: 0;
}
.element{
    width: 100%;
}
.titL{
    font-size: 30px;;
    line-height: 30px;
    font-weight: 800;
    padding: 60px 0 40px;
    border: 0; 
    border-top: 1px solid var(--color_05);
    margin-bottom: 30px;
    margin-top: 40px;
}
.element td{
   /* border:1px solid var(--color_05);*/
    padding: 20px 10px;text-align: center;
}
.element th{
    font-weight: 600;
 /* border:1px solid var(--color_05);*/
    padding: 10px 0;
   /* background-color: var(--color_03);*/
}

