
@font-face {
    font-family: 'pretendard';
    font-style: normal;
    font-weight: 100;
    src: url(../../font/Pretendard-Thin.subset.woff2) format('woff2');
    font-display: swap;
}
@font-face {
    font-family: 'pretendard';
    font-style: normal;
    font-weight: 200;
    src: url(../../font/Pretendard-Light.subset.woff2) format('woff2');
    font-display: swap;
}

@font-face {
    font-family: 'pretendard';
    font-style: normal;
    font-weight: 300;
    src: url(../../font/Pretendard-ExtraLight.subset.woff2) format('woff2');
    font-display: swap;
}

@font-face {
    font-family: 'pretendard';
    font-style: normal;
    font-weight: 400;
    src: url(../../font/Pretendard-Regular.subset.woff2) format('woff2');
    font-display: swap;
}

@font-face {
    font-family: 'pretendard';
    font-style: normal;
    font-weight: 500;
    src: url(../../font/Pretendard-Medium.subset.woff2) format('woff2');
    font-display: swap;
}
@font-face {
    font-family: 'pretendard';
    font-style: normal;
    font-weight: 600;
    src: url(../../font/Pretendard-SemiBold.subset.woff2) format('woff2');
    font-display: swap;
}
@font-face {
    font-family: 'pretendard';
    font-style: normal;
    font-weight: 700;
    src: url(../../font/Pretendard-Bold.subset.woff2) format('woff2');
    font-display: swap;
}
@font-face {
    font-family: 'pretendard';
    font-style: normal;
    font-weight: 800;
    src: url(../../font/Pretendard-ExtraBold.subset.woff2) format('woff2');
    font-display: swap;
}
@font-face {
    font-family: 'pretendard';
    font-style: normal;
    font-weight: 900;
    src: url(../../font/Pretendard-Black.subset.woff2) format('woff2');
    font-display: swap;
}
