body { background-color:#082D57; } 
.loginWrap { position: absolute; left: 50%; top:42%; transform: translate(-50%,-50%); } 
.loginWrap h1 { display: flex; flex-direction: column; align-items: center; gap: 20px; margin-bottom: 42px; } 
.loginWrap h1 img { width: 220px; } 
.loginWrap .loginBox { background-color: var(--color_02); width: 480px; border: 1px solid #FFFFFF; box-shadow: -60px 54px 54px rgba(18, 41, 68, 0.5); text-align: center; gap: 20px; padding: 60px 60px 80px; } 
.loginWrap .loginBox .tit { font-size: 30px; font-weight: 800; line-height: 30px; margin-bottom:52px; } 
.loginWrap .loginBox .inputBox { display: flex; flex-direction: column; gap:16px; padding-bottom: 30px; border-bottom: var(--basic_line); margin-bottom: 30px; } 
.loginWrap .loginBox .inputBox li { width: 100%; position: relative; } 
.loginWrap .loginBox .inputBox li input { background-color: var(--color_01); border:1px solid var(--color_00); height: 50px; width: 100%;; font-size: 16px; color: #222D65; font-weight: 600; box-shadow: -6px 6px 14px #DEDEDE;; padding-left: 64px; transition: 0.2s all; } 
.loginWrap .loginBox .inputBox li input::placeholder { color: var(--color_07); } 
.loginWrap .loginBox .inputBox li input:focus { border:1px solid var(--color_05); } 
.loginWrap .loginBox .inputBox li .ico { position: absolute; left: 0; top: 0; width: 52px; height: 100%; display: flex; align-items: center; justify-content: center; } 
.loginWrap .loginBox .inputBox li .ico:after { content: ""; display: block; width: 1px; height: 16px; background-color: var(--color_06); position: absolute; right: 0; } 
.loginWrap .loginBox .inputBox li .ico img { width: 20px; } 
.loginWrap .loginBox .btnBox button { transition: 0.2s all; width: 100%; height: 58px; background: #212E65; border: 1px solid var(--color_00); box-shadow: 0px 0px 34px rgba(99, 110, 148, 0.5);; font-size: 16px; color: var(--color_01); } 
.loginWrap .loginBox .btnBox button:hover { background-color: #131F56; } 
.loginWrap .loginBox .txt { color: #9BABB4; margin-top: 40px; font-size: 16px; } 




