
._searchGroup select.basic { min-width: 100px; } 
.wrapper > section ._searchGroup select { min-width: 100px; } 
._btnSearch input { width: 100px; min-width: 100px; } 
._searchGroup ._searchBox { width: 120px; } 
._searchGroup ._searchBox input:disabled { background-color: var(--color_00); } 
._searchGroup ._searchBox input { min-width: 80px; } 
.periodGroup input.basic { width: 100px; } 
._searchGroup { gap: 10px; } 

.wrapper > section { min-height: initial; } 
.wrapper > section .container { flex: initial; height: 580px; } 
.wrapper > section .container.detail {  height: 240px; overflow: hidden; } 
.wrapper > section .container.detail ._tableBox {height: 100%; overflow-y: auto; } 