/*header - search Box*/
.wrapper > header .wrap { position: relative; } 
.headSearch { position: absolute; left:46%; height:100%; top: 50%; transform: translate(-50%,-50%); display: flex; align-items: center; padding-right: 24px; padding-left: 24px; border:2px solid #fff; } 
.headSearch input { width: 320px; border-radius: 50px; } 
.headSearch input:disabled { background-color: var(--color_01); } 
.headSearch ._btnSearch { border-radius: 50px; box-shadow:0px 0px 0px 1px var(--color_00), 0px 0px 5px rgba(0, 0, 0, 0.2); } 


/*
[section layout]
▷container
ㅤㅤ ▷customerBox(left)
ㅤㅤ ㅤㅤ ▷customerInfo
ㅤㅤ ㅤㅤ ▷hisrotyBox.partSalesList(부품)
ㅤㅤ ㅤㅤ ▷hisrotyBox.ongoingList(A/S)
ㅤㅤ ▷receptionDetail(right)
*/


section { height: 100vh; } 
/*A/S,부품판매 일괄접수 공통 레이아웃*/ 
.container { display: flex; gap: 12px; overflow: hidden; } 
.container .customerBox { height: 100%; flex: 1; display: flex; flex-direction: column; gap: 12px; width: 40%; } 
.container .customerBox .hisrotyBox { background-color: var(--color_00); flex: 1; overflow: auto; max-height: 100vh; padding: 20px 24px; } 
.container .customerBox .hisrotyBox > ul.list { height: calc(100% - 600px); overflow: auto; flex: 1; } 
.container .customerBox .customerInfo { display: flex; flex-direction: column; gap: 10px; } 

/*진행중인 수리이력*/
.container .customerBox .ongoingList { display: flex; flex-direction: column; gap: 16px; flex: 1; } 
.container .customerBox .ongoingList > ul.list { overflow: auto; gap: 6px; display: flex; flex-direction: column; } 
.container .customerBox .ongoingList > ul.list > li { background-color: var(--color_01); padding: 20px 24px; display: flex; flex-direction: column; transition: 0.1s all; gap: 10px; cursor: pointer; border:1px solid transparent; } 
.container .customerBox .ongoingList > ul.list > li:hover { border:1px solid var(--blue) } 
.container .customerBox .ongoingList > ul.list > li.on { background-color: var(--list_on); border:1px solid var(--blue) } 


/*고객구매이력*/
.container .customerBox .partSalesList { display: flex; flex-direction: column; gap: 10px;; } 
.container .customerBox .partSalesList > ul { display: flex; flex-direction: column; gap: 10px;; } 
.container .customerBox .partSalesList > ul > li { cursor: pointer; transition: 0.1s all; background-color: var(--color_01); padding: 20px 24px 30px; position: relative; display: flex; flex-direction: column; gap: 20px; border:1px solid transparent } 
.container .customerBox .partSalesList > ul > li:hover { border:1px solid var(--blue) } 
.container .customerBox .partSalesList > ul > li.on { background-color: var(--color_00); border:1px solid var(--blue) } 
.container .customerBox .partSalesList > ul > li.empty { text-align: center; color: var(--color_06); } 
.container .customerBox .partSalesList > ul > li.empty:hover { border: 1px solid transparent; } 
.container .customerBox .partSalesList > ul > li.on.empty { cursor: auto;; background-color: var(--color_01); border:1px solid transparent } 
.container .customerBox .partSalesList li .top { display: flex; flex-direction: column; gap: 10px; } 
.container .customerBox .partSalesList li .top .orderInfor { display: flex; justify-content: space-between; align-items: center; } 
.container .customerBox .partSalesList li .top .orderInfor button { height: 28px; } 
.container .customerBox .partSalesList li .bottom { display: none; flex-direction: column; gap: 10px; } 
.container .customerBox .partSalesList li .bottom td { background-color: var(--color_00); } 
.container .customerBox .partSalesList li .bottom .total { text-align: right; font-weight: 500; } 
.container .customerBox .partSalesList > ul > li input { z-index: 1; opacity: 0; cursor: pointer; } 
.container .customerBox .partSalesList > ul > li input,
.container .customerBox .partSalesList > ul > li .openBtn { position: absolute; left: 50%; bottom: 0; transform: translateX(-50%); width:120px; height: 26px; } 
.container .customerBox .partSalesList > ul > li .openBtn { background-color: var(--color_04); background-image: url(../../img/arrow/arrow_down_08.png ); background-size: 10px;; background-position: calc(100% - 10px); display: flex; align-items: center; padding-right: 20px; justify-content:center; } 
.container .customerBox .partSalesList > ul > li input:checked + .openBtn { background-image: url(../../img/arrow/arrow_up_08.png); } 
.container .customerBox .partSalesList > ul > li input:checked + .openBtn + .bottom { display: flex; } 



.container .receptionDetail { width: 60%; overflow: auto; display: flex; flex-direction: column; gap: 10px; } 
.container .receptionDetail .bottom .total { color: var(--color_07); } 

/*스위칭*/
.container .receptionDetail .switchTit { display: flex; justify-content: space-between; background-color: var(--color_01); height: 52px; align-items: center; padding:0 24px; gap: 30px; } 
.container .receptionDetail .switchTit .tit { font:var(--body_B); border-right: var(--basic_line); width: calc(100% - 120px); } 
.container .receptionDetail textarea.remarks { width: 100%; height: 120px; } 
.container .receptionDetail ._table tr td.del { width: 40px; } 



/*A/S 접수 상세 */
.asInfor input.total { color: var(--blue); text-align: right; } 
.asInfor .totalInput { position: relative; height:32px; } 
.asInfor .totalInput div { position: absolute; bottom: -32px; right:14px;; height: 100%; color: var(--red_02); font-size: 12px; padding-top: 6px; } 

/*데이터 없는경우*/
.sectionEmpty { color: var(--color_07); display: flex; min-height: 180px; height: 100%; align-items: center; justify-content: center; font:var(--head_B); background-color: var(--color_01); } 
 /*부품판매접수 : 추가된부품이 없는경우*/._table .empty { min-height: 60px; } 
 /*A/S : 추가된부품이 없는경우*/._tableLayout .empty { font: var(--body_M); color: var(--color_08); height: 60px; display: flex; align-items: center; justify-content: center; background-color: var(--color_01); } 

/*소비자 단가 수정 input 추가*/
.unitPrice input { border:0; height: 32px!important;} 