.techdocBox { width: 960px; margin: 0 auto;; display: flex; flex-direction: column; gap: 24px; } 
.techdocBox ._searchBox{width: 240px;}
.techdocBox ._tab {justify-content: center; width: 100%; } 
.techdocBox .techdoc {width: 100%; display: flex; flex-wrap: wrap; flex-direction: column; margin: 0 auto;;border-top: 1px solid #000;; } 
.techdocBox .techdoc li { border-bottom:1px solid var(--color_06); height: 52px; display: flex; justify-content: space-between; align-items: center; gap: 10px; }
.techdocBox .techdoc li .tit { font-size: 16px; font-weight: 600; display: flex; align-items: center; gap: 10px; } 
.techdocBox .techdoc li .tit img { width: 12px; } 
.techdocBox .techdoc li .tit a { transition: 0.1s all; } 
.techdocBox .techdoc li .tit a:hover { color: var(--blue); text-decoration: underline; } 
.techdocBox .techdoc li .btn { display: flex; gap: 10px; } 