section { height: 100vh; } 
.container { overflow: hidden; } 
._tableBox.headFix._scroll { max-height: none; } 
._layBoxList.detail { flex: 1; overflow: hidden; } 

._layBoxList.detail ._tableLayout .tableWrap { display: flex; gap: 24px; overflow: hidden; } 
._layBoxList.detail ._tableLayout .tableWrap ._tableBox { flex: 1; } 