.wrapper > section { padding-top: 0; gap: 24px; } 
.pageTit { height: 68px; padding: 0 10px; padding-top: 28px; display: flex; gap: 20px; align-items: center; } 
.pageTit h2 { font-weight: 800; font-size: 24px; letter-spacing: -0.5px; } 
.pageTit .period { display: flex; align-items: center; gap: 6px; } 
.pageTit .period input { background-color: transparent; font-size: 20px; padding: 0 30px 0 16px; min-width: initial; height: 100%; width: 170px; } 



.graphContainer { display: grid; gap: 24px; grid-template-columns: 600px 1fr 600px; grid-template-areas:
 "countWrap processingTime processingTime"
 "regionSatisfaction regionSatisfaction overallSatisfaction"; } 
.countWrap { grid-area: countWrap; } 
.graphBox.processingTime { grid-area: processingTime; height: initial; } 
.graphBox.regionSatisfaction { grid-area: regionSatisfaction; } 
.graphBox.overallSatisfaction { grid-area: overallSatisfaction; } 
.graphBox { min-height: 0; } 
.graphBox .graph { flex: 1; min-height: 0; } 
.graphBox .graph .apexcharts-canvas,
.graphBox .graph .apexcharts-svg { height: 100% !important; } 



.countWrap { display: flex; gap:12px; flex-direction: column; } 
.countWrap .contBox { display: flex; flex-direction: column; padding: 26px 36px 22px; gap: 28px; background-color: var(--color_01); border: 4px solid var(--color_00); box-shadow: -4px 5px 23px rgba(19, 18, 92, 0.07); } 
.countWrap .contBox > .tit { font-size: 14px; line-height: 14px; color:var(--color_08); } 
.countWrap .contBox ul { display: flex; justify-content: center; align-items: center; gap: 24px; } 
.countWrap .contBox ul li { display: flex; flex-direction: column; gap: 10px; border-right: 1px solid rgba(194, 194, 194, 0.3); flex: 1; } 
.countWrap .contBox ul li:last-child { border:0 } 
.countWrap .contBox ul li .tit { font-weight: 600; font-size: 14px; line-height: 14px; letter-spacing: -0.02em; color: var(--color_10); } 
.countWrap .contBox ul li .count { font-weight: 700; font-size: 20px; line-height: 20px; color:var(--color_12); display: flex; gap: 4px; } 
.countWrap .contBox ul li .count span { font:var(--body_R); padding-top: 4px; line-height: 14px; display: block; color: var(--color_08); } 
.graphBox { height: 426px; background-color: var(--color_01); border: 4px solid var(--color_00); box-shadow: -4px 5px 23px rgba(19, 18, 92, 0.07); padding: 26px 36px 32px; display: flex; flex-direction: column; gap: 24px; } 
.graphBox > .tit { font-size: 16px; font-weight: 700; display: flex; align-items: center; gap: 6px; } 
.graphBox > .tit span { font: var(--body_R); color: var(--color_08); } 
.graphBox .graph { width: 100%; flex: 1; height: calc(100% - 30px); } 


.chart-wrap { height: 260px;}
.processingTimeGraph { width: 100%; height: 100%; } 